[Unit]
Description=market_exchange service
After=network.target

[Service]
Type=simple
User=<your_user_name>
TimeoutStartSec=0
Restart=always
WorkingDirectory=/home/<your_user_name>/projects/market_exchange
ExecStart=/home/<your_user_name>/projects/market_exchange/env/bin/python main.py

[Install]
WantedBy=multi-user.target
